.detailLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 88vh;
}

.detailStyling {
  width: 80vw;
  height: 50vh;
  background-color: tan;
  opacity: .8;
  box-shadow: 5px 5px 7px 2px black;
  border-radius: 16px;
  backdrop-filter: blur(5px);
}

@media screen and (max-width: 500px) {

  .detailLayout {
    min-height: 80vh;
  }

  .detailStyling {
    width: 90vw;
    height: 60vh;
  }

}
