.detailLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tan;
  min-height: 88vh;
}

.detailStyling {
  width: 80vw;
  height: 50vh;
  background-color: lightgrey;
  text-align: center;
}

@media screen and (max-width: 500px) {

  .detailLayout {
    min-height: 80vh;
  }

  .detailStyling {
    width: 90vw;
    height: 60vh;
  }

}
