.newsCard {
  width: 80vw;
  height: 20vh;
  color: black;
  text-decoration: none;
  margin: 1em;
}

.cardstyling {
  border-radius: 16px;
  width: 80vw;
  height: 20vh;
  background-color: tan;
  opacity: .8;
  box-shadow: 5px 5px 7px 2px black;
  backdrop-filter: blur(5px);
}

.articleTitle {
  opacity: 1;
  padding: .5em;
  text-align-last: center;
  font: 2em;
  text-shadow: 1px 1px grey;
}

.byLine {
  opacity: 1;
  padding: .5em;
}

.date {
  opacity: 1;
  padding: .5em;
}


@media screen and (max-width: 500px) {

  .newsCard {
    width: 90vw;
    height: 28vh;
  }

  .cardstyling {
    width: 90vw;
    height: 28vh;
  }

}
